<html>
    <head>
        <title>Erreur 403</title>
        <link rel="stylesheet" type="text/css" href="../../static/listings/error.css" /> 
    </head>

    <body>

        {% extends 'listings/base.html' %}
        {% block content %}
         <h1 class="error">ERREUR 403</h1>
        <div class="info-error">
            <img src="./assets/oussamagangsta.png" alt="ousama_erreur">
            <p class="error">Vous n'avez pas le droit d'accéder à cette page.</p>
        </div>
        {% endblock %}
    </body>
</html>